*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.treuio{
    width: 375px;
    margin: auto;
}
.viotp{
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 29.26px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}