*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.outi{
  width: 375px;
  margin: auto;
}
.kuiot{
  display: flex;
  justify-content: space-between;
}
.dib{
  display: flex;
}
.jugh{
width: 80px;
height: 40px;
border-radius: 22px;
font-family: Open Sans;
font-size: 16px;
font-weight: 700;
line-height: 21.79px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-align: center;
background-color: #F7D05E;
color: white;
border: none;
margin-left: 10px;
margin-top: 3px;
}
.puul{
  width: 200px;
  margin-left: 180px;
  position: relative;
}
.mute{
  width: 210px;
  position: absolute;
  margin-top: -200px;
  margin-left: 10px;
}
.mutet{
  width: 210px;
  position: absolute;
  margin-top: -130px;
  color: #33394F9E;
  margin-left: 10px;
  }
  .kuti{
    width: 200px;
    border-radius: 50%;
    height: 200px;
    margin-left: 80px;
    margin-top: 20px;
  }
  .ulu{
    margin-left: 10px;
  }
  .uiu{
  color: #33394F9E;
  margin-left: 10px;
  }
.dv{
  width: 100%;
}