*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.ohjk{
    width: 375px;
    margin: auto;   
}
.zxcv{
    margin-left: 14px;
}
.bnmvc{
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 29.26px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.kusf{
font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 24.38px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}