*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.vtolou{
    width: 375px;
    margin: auto;
}
.olptom{
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 29.26px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-left: 15px;
}

.otlnbvo{
position: relative;
}
.oplkinb{
    margin-top: -40px;
    width: 140px;
    height: 38px;
    border-radius: 0px 0px 0px 10px;
    background-color: #F7D05E;
    position: absolute;
}
.lskdjfh{
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27.24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-align: center;
color: white;
margin-top: 4px;
}
.t{
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 17px;
    transform: scale(1.05);
    transform: perspective(3);
    }
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        }
        body {
        margin: 0;
            font-family: Arial, sans-serif;
          }
        /*   
          header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            background-color: white;
            border-bottom: 1px solid #ddd;
          } */
          
          .menu-button {
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
          } 
          .search-button {
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
          } 
          .mobile-menu {
            display: none;
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            background: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 10px;
          }
          .input-menu {
            display: none;
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            background: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 10px;
          }
          
          .mobile-menu.open {
            display: block;
            height: 500px;
            z-index: 10;
          }
          
          .input-menu.get {
            display: block;
            height: 500px;
            z-index: 10;
          }    

          .menu-button1 {
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
          } 
          .mobile-menu1.open1 {
            position: relative;
            display: block;
            width: 100%;
            padding-bottom: 50px;
            margin-top: -445px;
            background-color: #33394F;
          }
          .mobile-menu1 {
            top: 0 auto;
            display: none;
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            background: white;
            /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
            padding: 10px;
          }
          .button {
            background-color: #33394F;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            height: 50px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 22px;
            font-weight: 700;
            text-align: left;
        
        }
        .button:hover {
            background-color: #515990;
        }
        .info {
          margin-top: 10px;
          padding: 10px;
          background-color: #2D3242;
          display: none; 
      }